html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center center;
}

.container {
    border: 1px solid black;
    display: grid;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: 80px 240px 2fr 1fr;
    grid-template-rows: 50px 1fr 70px;
}

.area1 {
    border: 1px solid black;
    grid-row: 1 / span 3;
}

.area2 {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 1;
}

.area3 {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 2;
}

.area4 {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 3;
}

.area5 {
    border: 1px solid black;
    grid-column: 3;
    grid-row: 1;
}

.area6 {
    border: 1px solid black;
    grid-column: 3;
    grid-row: 2;
}

.area7 {
    border: 1px solid black;
    grid-column: 3;
    grid-row: 3;
}

.area8 {
    border: 1px solid black;
    grid-column: 4;
    grid-row: 1;
}

.area9 {
    border: 1px solid black;
    grid-column: 4;
    grid-row: 2;
}

.area10 {
    border: 1px solid black;
    grid-column: 4;
    grid-row: 3;
}

.group-list {
    display: flex;
    justify-content: center;
}

.group-list ul {
    margin:0;
    padding: 0;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

#li_firstChild {
    border: 2px solid red;
}

#li_lastChild {
    border: 2px solid blue;
    font-size: 2rem;
}

.group-list ul li{
    display: flex;
    margin: 10px 0;
    height: 50px;
    width: 50px;
    border: solid black 1px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}