* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .backdrop {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background: #212529;
    font-family: sans-serif;
  }