<div class="box">
    <h2>{{formVariables.name}}</h2>
    <p>{{formVariables.message}}</p>
    <form #loginData="ngForm" (ngSubmit)="Emit(loginData)">
        <div class="form-group">       
            <input #email="ngModel" required type="email" placeholder="email" name="email" class="form-control" ngModel/>
            <label for="email" >Username</label>
        </div>
        <div class="form-group">
            <input #password="ngModel" required type="password" placeholder="password" name="password" class="form-control" ngModel/>
            <label for="password" >Password</label>
        </div>
        <input type="submit" name="sign-in" value="{{formVariables.submitValue}}" /><br>
        <div class="href">
            <a type="anchor1" routerLink="{{anchorVariables.routerlink1}}" routerLinkActive="active">{{anchorVariables.value1}}</a>
            <a type="anchor2" routerLink="{{anchorVariables.routerlink2}}" routerLinkActive="active">{{anchorVariables.value2}}</a>
        </div>
    </form>
</div>
