<div class="backdrop">
    <div class="box">
        <h2>Reset Password</h2>
        <p>{{message}}</p>
        <form #email="ngForm" (ngSubmit)="Submit(email)">
            <div class="form-group">
                <input #email="ngModel" required type="email" placeholder="email" name="email" class="form-control" ngModel>
                <label for="email">Email</label>
            </div>
            <input type="submit" value="send"/><br>
            <div class="href">
                <a type="anchor1" routerLink="" routerLinkActive="active">Go Back?</a>
            </div>
        </form>
    </div>
</div>